body {
    font-family: 'Montserrat', sans-serif;
}
html {
  font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100vh;
   
}
.card {
    background-color: #b2abf2;
    border-radius: 20px;
    padding: 10px 20px;
    color: black;
}
.expired {
    background: #E58C8A;
    border-radius: 20px; 
    padding: 10px 20px;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.goingOn {
    background: forestgreen;
    border-radius: 20px; 
    padding: 10px 20px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 255.9);
}
.navbar-btn {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px;
    margin: 2px;
    color: #ffffff;
    transition: background-color 0.7s;
    border-radius: 20px; 
    padding: 10px 20px;
}
    .navbar-btn:hover {
        background-color: #5f4bb6; 
        color: #ffffff;
    }
header {
    background-color: #5f4bb6;
}
body {
    background-color: #555555;
}
.scrollable-list {
    height: 78vh;
    overflow: auto;
    border: 1px; 
    padding: 10px;
}
.participant-list {
    height: 200px; 
    overflow: auto;
    border: 1px solid #000000; 
    padding: 10px; 
}
.available-users {
    height: 200px; 

    overflow: auto;
    border: 1px; 
    padding: 10px;
}
.name-label {
    height: 30px;
    background-color: #DEDAFF;
    color: #000000; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    padding: 10px;
    margin: 2px;
}
    .name-label:focus {
        color: #000000;
        border: 2px solid #5f4bb6;
    }

.desc-label {
    background-color: #DEDAFF; 
    color: #000000; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    padding: 10px;
}
    .desc-label:focus {
        color: #000000;
        border: 2px solid #5f4bb6;
    }
.custom-title {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
}

.custom-label {
  color: black;
  font-weight: bold;
}

.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.custom-textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  height: 120px;
}

.custom-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover { background-color: #c82333; }
.submit-button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px;
    margin: 2px;
    color: black; 
    transition: background-color 0.7s;
    transition: color 0.7s;
    border-radius: 20px; 
    padding: 10px 20px;
}
.good-button {
    background-color: green;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px;
    margin: 2px;
    color: black;
    transition: background-color 0.7s;
    transition: color 0.7s;
    border-radius: 20px;
    padding: 10px 20px;
}
.angry-button {
    background-color: red;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px;
    margin: 2px;
    color: black;
    transition: background-color 0.7s;
    transition: color 0.7s;
    border-radius: 20px;
    padding: 10px 20px;
}
.main-button {
    background-color: #5f4bb6;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-width: 1px;
    margin: 2px;
    border-radius: 20px;
    padding: 10px 20px;
}
.submit-button:hover {
        background-color: #5f4bb6;
        color: white;
    }
.meeting-actions {
    color: black;
    margin: 4px;
}