@model Meeting
<h1>Create new meeting</h1>
@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <form asp-action="CreateMeeting" method="post" id="addPostForm">
            <div class="form-group">
                <label asp-for="MeetingTime"></label>
                <input asp-for="MeetingTime" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="EndTime"></label>
                <input asp-for="EndTime" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <textarea asp-for="Name" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <input asp-for="Id" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUsers"></label>
                @foreach (var user in Model.AvailableUsers)
                {
                    <div>
                        <input type="checkbox" class="form-check-input" id="@user.Id" name="selectedUsers" value="@user.Id">
                        <label class="form-check-label" for="@user.Id">@user.FirstName</label>
                    </div>
                }
            </div>

            <button type="submit" id="submitPostBtn" class="btn btn-danger">Submit Meeting</button>
        </form>

    </div>
}

else
{
    <h1>please log in</h1>
}