.container {
    padding: 20px;
    text-align: center;
}

.title {
    color: aquamarine;
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    color: bisque;
    font-size: 16px;
}


.additional-color {

}