@* @inherits System.Web.Mvc.WebViewPage *@
@* @{ *@
@*     Layout = null; *@
@* } *@
@{
    ViewData["Title"] = "HomePage";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Meeting Scheduler</title>
    <style>
        .container {
            text-align: center;
        }
        h1 {
            color: #333333;
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            color: #666666;
            font-size: 18px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

<div class="card container">
    <h1>Welcome to the Meeting Scheduler</h1>
    <p>Plan and organize your meetings with ease!</p>
    <a href="/Meeting/Index" class="button submit-button">Get Started</a>
</div>

</body>
</html>